/* src/pages/auth/change-password.css */
.change-password-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f8fa;
}

.card {
  border-radius: 10px;
  background-color: #fff;
}
