NODE_ENV=development
PORT=5000
DB_URL=mongodb://localhost:27017/nfa-project
JWT_SECRET=your-jwt-secret

MAIL_HOST=smtp.example.com
MAIL_DRIVER=smtp
MAIL_PORT=587
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM=Digital-Team
MAIL_ENCRYPTION=tls
MAIL_USERNAME=your-mail-username
MAIL_PASSWORD=your-mail-password

FRONTEND_BASE_URL=http://localhost:5173

RAZORPAY_KEY_ID=rzp_test_your_key_id
RAZORPAY_KEY_SECRET=your_razorpay_secret
RAZORPAY_DEFAULT_AMOUNT=
RAZORPAY_FEATURE_AMOUNT=
RAZORPAY_NON_FEATURE_AMOUNT=
RAZORPAY_BEST_BOOK_AMOUNT=
RAZORPAY_BEST_FILM_CRITIC_AMOUNT=
